@import "../../../assets/styles/variables.scss";
@import "../../../assets/styles/mixins.scss";

.card-container {
  @include boxShadow($color-light);

  margin: $regular-spacing auto !important;
  width: 240px;
  height: 260px;
  color: $color-dark !important;

  &:hover {
    opacity: 0.9;
  }
}

.card-title {
  @include font($small-font, 400);

  margin-bottom: $xsmall-spacing !important;
}

.card-price {
  @include cardDetails;

  margin-bottom: $small-spacing !important;
}

.card-country {
  @include cardDetails;

  margin-bottom: $xsmall-spacing !important;
}

.card-img {
  margin: $medium-plus-spacing auto;
  height: 130px !important;
  width: 151px !important;
}

.card-column {
  @include displayCenter;
}
