@import '../../../assets/styles/variables.scss';

.card-container {
  margin: 1.75rem auto !important;
  width: 240px;
  height: 260px;
  background-size: cover;
  border:none !important;
  filter: drop-shadow(5px 5px 15px rgba(0, 0, 0, 0.25)) !important;
  color: black !important;
}

.card-container:hover {
  opacity: 0.9;
}

.card-title {
  font-size: $small-font;
  margin-bottom: 0.5rem !important;
}

.card-price {
  font-size: $small-font;
  text-align: right;
  margin-top: 0;
  margin-bottom: 1rem !important;
  margin-right: 2rem;
}

.card-country {
  font-size: $small-font;
  text-align: right;
  margin-top: 0;
  margin-bottom: 0.5rem !important;
  margin-right: 2rem;
}

.card-img {
  height: 130px !important;
  width: 151px !important;
  margin: 1.5rem auto;
}

.card-column {
  display: flex;
  justify-content: center;
  a {
    text-decoration: none;
  }
}
