@import '../../../assets/styles/variables.scss';
@import '../../../assets/styles/mixins.scss';

.card-container {
  @include boxShadow($white-color);

  margin: calc($regular-margin - 0.25rem) auto !important;
  color: $black-color !important;
  width: 240px;
  height: 260px;

  &:hover {
    opacity: 0.9;
  }
}

.card-title {
  font-size: $small-font;
  margin-bottom: $xsmal-margin !important;
}

.card-price {
  @include cardDetails;

  margin-bottom: $small-margin !important;
}

.card-country {
  @include cardDetails;

  margin-bottom: $xsmal-margin !important;
}

.card-img {
  height: 130px !important;
  width: 151px !important;
  margin: $medium-plus-margin auto;
}

.card-column {
  @include displayCenter;
  
  a {
    text-decoration: none;
  }
}
