.main-screen {
  height: 100vh;
  position: static;
  overflow: auto;
  transform: matrix(1, 0, 0, 1, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-screen::before {
  content: '';
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;
  display: block;
  background-size:cover;
  width: 100%;
  height: 100%;
  background-image: url(../../img/main_bg_1.jpg);
  /* filter:brightness(0.6) */
}

.main-title {
  color: #FFF;
  /* transform: scaleX(-1); */
  font-weight: 400;
  font-size: 40px;
}

.main-subtitle {
  color: #FFF;
  font-weight: 300;
  font-size: 24px;
}

.main-btn {
  color: #FFF;
  font-weight: 300;
  font-size: 14px;
  background:none;
  border: 1px solid #FFFFFF;
  border-radius: 3px;
  width: 120px;
  height: 30px;
}
