.coffee-navbar {
  position: absolute;
  display: flex;
  background-color: transparent; 
  justify-content:space-between;
  align-items: flex-start;
  top: 0;
  color: #FFFFFF;
  z-index: 1;
  margin-top: 30px;
  margin-left: 148px;
}
  
.nav-menu {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  justify-content: end;
  margin: 1rem 0rem;
  padding: 0;
}
  
.nav-item {
  position: relative;
  font-weight: 400;
  font-size: 14px;
}

.coffee-logo {
  position: relative;
  height: 35px;
}

.coffee-footer {
  position: static;
  display: flex;
  background-color: transparent; 
  justify-content:center;
  align-items: flex-start;
  top: 0;
  color: black;
  width: 100%;
}
