@import "../../../assets/styles/variables.scss";
@import "../../../assets/styles/mixins.scss";

.nav-container {
  @include font ($small-font, 400);
  @include displayStart;

  width: 80%;
}

.coffee-navbar {
  @include displayCenter;

  position: absolute;
  top: 0;
  z-index: 1;
  margin-top: $regular-spacing;
  width: 100%;
  color: $color-light;
}

.nav-menu {
  @include displayGrid;

  margin: $small-spacing 0;
  padding: 0;
}

.coffee-logo {
  height: 35px;
}

.coffee-footer {
  color: $color-dark;

  .nav-container {
    @include displayCenter;
    
    width: 100%;
  }
}
