.our-coffee-page {
  text-align: center;
  font-family: 'Merienda';
}

.our-coffee-page .header::before {
  background-image: url(../../../assets/img/secondary_bg.jpg);
}

.our-coffee-page .about-section-container {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.filter-panel {
  display: flex;
  justify-content: center;
}