.our-coffee-card-container {
  margin: 2rem 2rem;
  display: flex;

  width: 260px;
  height: auto;
  background-color: white;
  background-size: cover;
  border:none !important;
  filter: drop-shadow(5px 5px 15px rgba(0, 0, 0, 0.25)) !important;
}

.our-coffee-card-title {
  font-size: 14px;
}

.our-coffee-card-price {
  font-size: 14px;
  text-align: right;
  margin: 1rem 1rem !important;
}

.our-coffee-card-country {
  font-size: 14px;
  text-align: right;
  margin: 1rem 1rem !important;
}

.our-coffee-card-img {
  height: 130px;
  width: 151px;
  margin: 1.5rem auto;
}

.our-coffee-card-item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
}