.products-about {
  text-align: left;
  font-weight: 400;
  font-size: 14px;
}

.products-price {
  text-align: left;
  font-weight: 700;
  font-size: 18px;
}

.products-price > span {
  font-weight: 400;
  font-size: 14px;
}