@import "../../../assets/styles/variables.scss";
@import "../../../assets/styles/mixins.scss";

.our-best-container {
  @include displayCenter;

  transform: matrix(1, 0, 0, 1, 0, 0);
  padding: $large-spacing $small-spacing;

  &::before {
    content: '';
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;
    display: block;
    background-image: url(../../../assets/img/our_best_bg.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    filter: opacity(0.5);
    width: 100%;
    height: 100%;
  }
}

.our-best-title {
  @include font ($regular-title-font, 400);

  width: 70%;
  padding: $small-spacing;
}

.our-best-cards .card-container {
  background-color: rgb(255, 255, 255, 0.6) !important;
}
