 @import '../../../assets/styles/variables.scss';
 @import '../../../assets/styles/mixins.scss';

.filter {
  @include displayCenter;
  margin: 0 $small-margin !important;
}

.filter-button {
  @include displayCenter;
  @include boxShadow($white-color !important);

  font-size: $xsmall-font !important;
  width: 75px;
  height: 30px;
  margin: calc($small-margin/10) !important;
  color: $black-color !important;
  opacity: 0.8;
}

.filter-button.active {
  opacity: 1 !important;
}

.filter-container {
  @include displayCenter;
}
