@import "../../../assets/styles/variables.scss";
@import "../../../assets/styles/mixins.scss";

.filter {
  @include displayCenter;

  margin: 0 $small-spacing !important;
}

.filter-button {
  @include displayCenter;
  @include boxShadow($color-light !important);

  font-size: $xsmall-font !important;
  width: 75px;
  height: 30px;
  margin: calc($small-spacing/10) !important;
  color: $color-dark !important;
  opacity: 0.8;
}

.filter-button.active {
  opacity: 1 !important;
}

.filter-container {
  @include displayCenter;
  @include font ($regular-font, 400);
}
