@import '../../assets/styles/variables.scss';
@import '../../assets/styles/mixins.scss';

.for-your-pleasure-page {
  text-align: center;
  font-family: 'Merienda';
  .header::before {
    background-image: url(../../assets/img/third_bg.jpg);
  }
  .about-section-container {
    margin: $large-margin auto;
  }
}