.our-best-card-container {
  margin: 1rem 1.75rem;
  width: 240px;
  height: 240px;
  background-color: rgb(255, 255, 255, 0.6) !important;
  background-size: cover;
  border:none !important;
}

.our-best-card-title {
  font-size: 14px;
}

.our-best-card-price {
  font-size: 14px;
  text-align: right;
  margin: 1rem 1rem !important;
}

.our-best-card-img {
  height: 130px;
  width: 151px;
  margin: 1.5rem auto;
}
