.product-details {
  text-align: center;
  font-family: 'Merienda';
  .about-section-container {
    margin-top: 3rem;
    margin-bottom: 3rem;
    display: flex;
    justify-content: center;
  }
  .header::before {
    background-image: url(../../assets/img/secondary_bg.jpg);
  }
}

.spinner {
  margin: 0.25rem;
}

.spinner-container {
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner-grow-xsm {
  --bs-spinner-width: 0.5rem !important;
  --bs-spinner-height: 0.5rem !important;
}