@import "../../../assets/styles/variables.scss";
@import "../../../assets/styles/mixins.scss";

.search-container {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
}

.search-blocks {
  margin: $small-margin $small-margin;
}

.search-input {
  @include boxShadow($white-color);

  width: 180px !important;
  margin: $small-margin $small-margin;
  padding: 0.5rem;
  border-radius: 4px;
  height: 30px;
  font-size: $xsmall-font;
  outline: none;
}
