@import "../../../assets/styles/variables.scss";
@import "../../../assets/styles/mixins.scss";

.about-section-container {
  @include displayCenter;

  width: 60% !important;
}

.about-section-content {
  @include font($small-font, 400);

  margin: $regular-spacing auto;
}

.about-section-title {
  @include font($regular-title-font, 500);

  margin-bottom: $regular-spacing;
}

.about-section-img {
  @include displayCenter;

  padding-right: 2rem !important;

  img {
    @include boxShadow($color-light);
  }
}
