@import '../../../assets/styles/variables.scss';
@import '../../../assets/styles/mixins.scss';

.about-section-container {
  @include displayCenter;

  width: 60% !important;
}

.about-section-content {
  margin-top: $regular-margin;
  font-size: $small-font;
}

.about-section-title {
  font-size: $regular-title-font;
  margin-bottom: $regular-margin;
}

.about-section-img {
  @include displayCenter;

  padding-right: 2rem !important;
  
  img {
    @include boxShadow($white-color);
  }
}


