.coffee-navbar {
  position: absolute;
  display: flex;
  background-color: transparent; 
  justify-content:space-between;
  align-items: center;
  top: 0;
}

.navbar-container {
  z-index: 1;
  margin-top: 30px;
  margin-left: 148px;
  display: flex;
  justify-content:flex-start;
  color: #FFFFFF;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
  
.nav-menu {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  justify-content: end;
  margin: 1rem 0rem;
  padding: 0;
}
  
.nav-item {
  position: relative;
  font-weight: 400;
  font-size: 14px;
  color: #FFFFFF;
}

.coffee-logo {
  position: relative;
  height: 35px;
}
