@mixin font ($size, $weight, $height: calc($size * 1.2), $style: normal) {
  font-size: $size;
  font-weight: $weight;
  line-height: $height;
  font-style: $style;
}

@mixin displayCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin displayStart {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

@mixin displayGrid($template-columns: repeat(4, auto), $gap: 1.2rem) {
  display: grid;
  grid-template-columns: $template-columns;
  grid-gap: $gap;
  align-items:center;
}

@mixin boxShadow($background) {
  background: $background;
  border: none !important;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25) !important;
}

@mixin cardDetails {
  @include font ($small-font, 400);

  text-align: right;
  margin-top: 0;
  margin-right: 3.2rem;
}
