$xsmall-font: 1.2rem;
$small-font: 1.4rem;
$regular-font: 1.6rem;
$regular-title-font: 2.4rem;
$large-title-font: 4.0rem;

$color-light: white;
$color-dark: black;

$xsmall-spacing: 0.8rem;
$small-spacing: 1.6rem;
$small-plus-spacing: 2rem;
$medium-spacing: 2.4rem;
$medium-plus-spacing: 2.8rem;
$regular-spacing: 3.2rem;
$large-spacing: 8rem;
