$xsmall-font: 12px;
$small-font: 14px;
$regular-font: 16px;
$regular-title-font: 24px;
$large-title-font: 40px;

$white-color: white;
$black-color: black;

$xsmal-margin: 0.5rem;
$small-margin: 1rem;
$small-plus-margin: 1.25rem;
$medium-margin: 1.5rem;
$medium-plus-margin: 1.75rem;
$regular-margin: 2rem;
$large-margin: 5rem;
